form {
  display: block;
  padding: 30px 25px;
  text-align: center;
}
h1 {
  margin: 0;
  color: rgb(10, 10, 88);
  font-size: 40px;
  padding-top: 0px;
  text-align: center;
}

h2 {
  color: rgb(0, 153, 255);
  text-align: left;
  font-size: 20px;
  padding: 5px 10px 0px 13.5px;
}
.line1 {
  font-size: 40px;
  padding: 5px 10px 0px 10px;
  font-weight: bolder;
  color: rgb(0, 153, 255);
}
li {
  display: block;
  margin: auto;
  position: static;
  font-weight: bold;
}

body {
  border: 3px solid rgb(10, 10, 88);
}
div {
  display: block;
  margin: auto;
  position: relative;
  padding: 5px;
}
.week {
  display: block;
  margin: auto;
  position: static;
  display: inherit;
  font-weight: bold;
}
.card-title {
  color: rgb(0, 153, 255);
  margin: auto;
}
small {
  font-size: 80%;
  font-weight: 400%;
  display: block;
  margin: 0% auto;
  text-align: center;
  padding: 10px;
}
